{{#if msg}}

<body onload="M.toast({html: '{{msg}}'})">

</body>

{{/if}}
{{#if yay}}

<body onload="M.toast({html: '{{yay}}'})">

</body>
{{/if}}
<div class="row">

  <div class="col s12 m12 l10 offset-l1  my-1">
    <div class="card-panel z-depth-5">
      {{#if logged}}
      <a class="btn waves-effect light-blue lighten-1" href="/profile">Back
        <i class="material-icons left">arrow_back</i>
      </a>
      {{/if}}
      {{#unless logged}}
      <a class="btn waves-effect light-blue lighten-1" href="/">Back
        <i class="material-icons left">arrow_back</i>
      </a>
      <div class="chip">
        <img src="./images/login.png" alt="Please Login">
        Please login to save your reports
      </div>

      {{/unless}}


      <h4 class="center"> Calculator</h4>
      <div class="row ">





        <div class="carousel carousel-slider center">

          <div class="carousel-item red white-text" href="#one!">
            <h2>Quick Setup</h2>
            <p class="white-text">Fill this form before we start</p>
            <div id="parameters" class="center userInput">
            

              
              <p><strong>Food Runner Tip Out</strong></p>

              <!-- Switch -->
              <div class="switch">
                <label for="foodRunnerYes">
                  Off
                  <input type="checkbox" id="foodRunnerYes" onchange="foodRunnerSelector()">
                  <span class="lever"></span>
                  On
                </label>
              </div>

              <p id="foodRunnerConfirm">Food Runner will be tipped out </p>

              <p><strong>Bartender Tip Out</strong></p>

              <div class="switch">
                <label for="bartenderSwitch">
                  Off
                  <input type="checkbox" id="bartenderSwitch" onchange="bartenderSelector()">
                  <span class="lever"></span>
                  On
                </label>
              </div>

              <p id="bartenderConfirm">Bartenders will be tipped out </p>

              <p><strong>Event Tip out Percentage: </strong></p>
              <p><select id="eventTipPercentage" onchange="eventTipSelector()">

                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25" selected>25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                </select></p>
              <p id="eventTipConfirm"> Event tip percentage is set to 25%</p>

              <p><strong>Number Of Servers: </strong></p>
              <p><select id="numberOfServers" onchange="numberOfServersSelector()">

                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select></p>
              <p id="numberOfServersConfirm">One server by default </p>

              <button class="btn waves-effect light-blue lighten-1 center" id="save-config-btn">Save config
                <i class="material-icons right"> save </i>
              </button>

            </div>

          </div>
          <div class="carousel-item blue white-text" href="#two!">
            <h2>Get your checks ready</h2>
            <p class="white-text">Fill in this numbers from the checks one by one</p>



            <div id="fields" class="userInput">
              <p> <strong>Enter the numbers from your closing report</strong></p>

              Net Sales:<br>
              <input type="number" id="net-sales" onchange="modifyValueNS()"><br>
              <p></p>

              20% Auto Gratuity:<br>
              <input type="number" id="20-auto-grat" onchange="modifyValue20AG()"><br>
              <p></p>

              Event Auto Gratuity:<br>
              <input type="number" id="event-auto-grat" onchange="modifyValueEG()"><br>
              <p></p>

              Charge Tip:<br>
              <input type="number" id="charge-tip" onchange="modifyValueCT()"><br>
              <p></p>

              Liquor Total:<br>
              <input type="number" id="liquor" onchange="modifyValueLiq()"><br>
              <p></p>

              Beer Total:<br>
              <input type="number" id="beer" onchange="modifyValueBeer()"><br>
              <p></p>

              Wine Total:<br>
              <input type="number" id="wine" onchange="modifyValueWine()"><br>
              <p></p>

              Food Total:<br>
              <input type="number" id="food" onchange="modifyValueFood()"><br>
              <p></p>
              <input type="hidden" id="reportId" name="reportId" value="{{reportId}}">

              <button id="backButton" disabled=""> &lt;==Back </button>

              <span id="checkNumber">1</span>

              <button id="nextButton"> Save & Next ==&gt;</button>

            </div>
          </div>


          <div class="carousel-item green white-text" href="#three!">
            <h2>Your report in one click away</h2>
            <p class="white-text">Teep to calculate the report</p>
            <div class="row" id="finishedReport">

              <p id="demo">Your reports will appear here. <br>
                Bartenders will be tipped out 2% of liqour + beer + wine sales.
                <br> Foor Runners will be tipped out 2% of food sales.
                <br> The rest is all yours!</p>
            </div>

            <button class="btn waves-effect light-blue lighten-1 center" id="teepButton">Teep!
              <i class="material-icons right"> playlist_add_check </i>
            </button>
          </div>


        </div>

      </div>
      {{!-- old calculator end here --}}
      <!--row-->
    </div>

   
  </div>
  <!--card-->
</div>
<!--col-->
</div>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/calculator.js"></script>