<h1>Login Page</h1>

<a href="/">Back to Home Page</a>

<form action="/login" method="POST">

<label for="email">Enter your Email</label>
<input type="text" name="email" id="email">

<label for="password">Enter your password</label>
<input type="text" name="password" id="password">

<button>Log in</button>

</form>