<h1>Login Page</h1>

<div class="col">
  <a class="btn waves-effect light-blue lighten-1" href="/">Back
    <i class="material-icons left">arrow_back</i>
  </a>
</div>

<form action="/login" method="POST">

<label for="email">Enter your Email</label>
<input type="text" name="email" id="email">

<label for="password">Enter your password</label>
<input type="text" name="password" id="password">

<button>Log in</button>

</form>