<h1>Profile</h1>
<div class="row">

<div class="col">
  <a class="btn waves-effect light-blue lighten-1" href="/">Back
    <i class="material-icons left">arrow_back</i>
  </a>
</div>
<div class="col">
  <a class="btn waves-effect amber darken-1" href="/profile/edit">Edit profile
    <i class="material-icons right">edit</i>
  </a>
</div>
<div class="col">
  <form action="/profile/delete" method="POST">
   <button class="btn waves-effect waves-light red darken-1" >Delete Profile
  <i class="material-icons right">delete_forever</i>
  </button>
  </form>
</div>

</div>


<br><br>

{{#>_report}}
Something went wrong. Report partial not found
{{/_report}}
