<h1>Profile</h1>
<a href="/">Back to Home Page</a>
<a href="/profile/edit">Edit profile Page</a>
<form action="/profile/delete" method="POST"><button>Delete Profile</button></form>

<br><br>

{{#>_report}}
Something went wrong. Report partial not found
{{/_report}}
