<div class="row">

  <div class="col s12 m11 l8 offset-m1 offset-l2  my-1">
    <div class="card-panel z-depth-5">

        <a class="btn waves-effect light-blue lighten-1" href="/profile">Back
          <i class="material-icons left">arrow_back</i>
        </a>
      
      <div class="row ">
      <h4 class="center"> Detailed report for: <span class="date">DATE</span></h4>
        <div class="col">

      
        <p>Report for: NAME, POSITION</p>
        <p>Total Sales: <span class="value"></span></p>
        <p>Total Auto Gratuity: <span class="value"></span></p>
        <p>Total Tips: <span class="value"></span></p>
        <p>Tip out to Bartender: <span class="value"></span></p>
        <p>Tip out for Food Runner: <span class="value"></span></p>
        <p>Reported Tips: <span class="value"></span></p>
       
        


     
            <a class="btn waves-effect amber darken-1" href="/report/edit">Edit
              <i class="material-icons right">edit</i>
            </a>
          </div>
       
    </div>
    <!--card-->
  </div>
  <!--col-->
</div>