
{{#if msg}}

<body onload="M.toast({html: '{{msg}}'})">

</body>

{{/if}}
{{#if yay}}

<body onload="M.toast({html: '{{yay}}'})">

</body>
{{/if}}
<div class="row">

  <div class="col s12 m11 l8 offset-m1 offset-l2  my-1">
    <div class="card-panel z-depth-5">

        <a class="btn waves-effect light-blue lighten-1" href="/">Back
          <i class="material-icons left">arrow_back</i>
        </a>
      
      <h4 class="center"> Sign up form</h4>
      <div class="row ">
      {{!-- form --}}
        <form class="col m10 l9 offset-l1" action="/signup" method="POST" enctype="multipart/form-data">

          <div class="row">
            <div class="input-field col s12 m12">
              <i class="fas fa-user-circle prefix"></i>
              <input id="name" type="text" class="validate" name="name">
              <label for="name">Your Name </label>
            </div>

            <div class="input-field col s12 m12">
              <i class="fas fa-at prefix"></i>
              <input id="email" type="email" class="validate" name="email">
              <label for="email">Your Email</label>
            </div>

            <div class="input-field col s12 m12">
              <i class="fas fa-camera-retro prefix"></i>
              <label for="image">Upload picture for your profile</label>
              <br><br>
              <input id="image" type="file" name="image" class="validate">
            </div>

            <div class="input-field col s12 m12">
              <i class="fas fa-utensils prefix"></i>
              <select name="position" id="positionSelect">
                <option value="server">Server</option>
                <option value="manager">Manager</option>
              </select>
              <label for="position">What is your position? </label>
              <br><br>
            </div>

            <div class="input-field col s12 m12">
              <i class="fa fa-unlock-alt prefix"></i>
              <input id="password" type="password" class="validate" name="password">
              <label for="password" class="">Password</label>
            </div>
          </div>
      <!--row-->
      </div>
      <button class="btn waves-effect light-blue lighten-1 center">Create account
        <i class="fa fa-sign-in right"></i>
      </button>
        </form>
    </div>
    <!--card-->
  </div>
  <!--col-->
</div>